<!-- About Start -->
<div class="container-fluid py-5" id="section-about">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" th:src="@{img/img-2.jpg}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Sobre Nosotros</h6>
                    <h1 class="mb-3">Ofrecemos el mejor aluminio</h1>
                    <p>La excelencia en aluminio es más que un compromiso; es nuestra obsesión. Nos enorgullece ofrecer a nuestros clientes aluminio en condiciones excepcionales, destacándonos en la industria como proveedores de materiales de la más alta calidad.</p>
                    <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid" th:src="@{img/img-3.jpg}" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" th:src="@{img/img-4.jpg}" alt="">
                        </div>
                    </div>
                    <a th:href="@{/quote}" class="btn btn-primary mt-1">Cotizar</a>
                </div>
            </div>
        </div>
    </div>
</div>