<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;" id="section-contact">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="" class="navbar-brand">
                <h1 class="text-primary"><span class="text-white">Aluminum</span>Design</h1>
            </a>
            <p>La excelencia en aluminio es más que un compromiso; es nuestra obsesión. Nos enorgullece ofrecer a nuestros clientes aluminio en condiciones excepcionales, destacándonos en la industria como proveedores de materiales de la más alta calidad.</p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Follow Us</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Servicios</h5>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Ventanas</a>
                <a class="text-white-50 mb-2" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Puertas</a>
                <a class="text-white-50 mb-2" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Accesorios</a>
            </div>
        </div>

         <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Links</h5>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" th:href="@{/}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                <a class="text-white-50 mb-2" th:href="@{/about}"><i class="fa fa-angle-right mr-2"></i>About</a>
                <a class="text-white-50 mb-2" th:href="@{/services}"><i class="fa fa-angle-right mr-2"></i>Services</a>
                <a class="text-white-50" th:href="@{/contact}"><i class="fa fa-angle-right mr-2"></i>Contact</a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contáctanos</h5>
            <!--
             <p><i class="fa fa-map-marker-alt mr-2"></i>Dirección</p>
            <p><i class="fa fa-phone-alt mr-2"></i>Télefono</p>
             -->
            <p><i class="fa fa-envelope mr-2"></i>aluminumdesign@gmail.com</p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Más información</h6>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Tú correo">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-3">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white-50">Copyright &copy; <a href="#">Domain</a>. All Rights Reserved.</a>
            </p>
        </div>
    </div>
</div>
<!-- Footer End -->
