<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">RESIDUDOS</h6>
            <h1>Almacenen de residuos</h1>
            <a th:href="@{/recicle-list}">Ver Lista de residuos</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-white" style="padding: 30px;">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" autocomplete="off">
                        <div class="form-row">
                            <div class="control-group col-sm-10">
                                <input type="text" class="form-control p-4" id="name" placeholder="Ingresa tú nombre"
                                       required="required" data-validation-required-message="Por favor, ingresa tú nombre" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <input type="text" class="form-control p-4" id="height" placeholder="Alto en metros"
                                       required="required" data-validation-required-message="Por favor, ingresa la altura del residuo" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-6">
                                <input type="text" class="form-control p-4" id="width" placeholder="Ancho en metros"
                                       required="required" data-validation-required-message="Por favor, ingresa el ancho del residuo" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-4" type="submit" id="sendRecicle">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->