<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-primary text-center p-4">
                        <h1 class="text-white m-0">Iniciar Sesión</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-white p-5">
                        <form action="#" th:action="@{/login-user}" th:object="${user}" method="post" autocomplete="off">
                            <div class="form-group">
                                <input type="text" class="form-control p-4" placeholder="Usuario" th:field="*{username}" required="required" id="user"/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control p-4" placeholder="Contraseña" th:field="*{password}" required="required" id="password"/>
                            </div>

                            <div>
                                <button class="btn btn-primary btn-block py-3" type="submit" id="login">Iniciar Sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Registration End -->