<!-- Booking Start -->
<div class="container-fluid booking mt-3 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <div class="row align-items-center" style="min-height: 60px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3 mb-md-0">
                                <select class="custom-select px-4" style="height: 47px;" id="select-products">
                                    <option value="1" selected>Seleccione un producto</option>
                                    <option value="Ventana">Ventana</option>
                                    <option value="Puerta">Puerta</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text" class="form-control p-4" placeholder="ancho en metros" id="width" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input type="text" class="form-control p-4" placeholder="alto en metros" id="height" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;" id="btn-calculate">Calcular</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
<center>
    <div class="col-lg-8 pt-5 pb-lg-5 pb-5 section-quote h-50">
        <div class="about-text bg-white p-4 p-lg-5 my-lg-5 content-price">
            <h1 class="mb-3" id="product-name">Dimensiones del producto:  </h1>
            <p id="width-price"></p>
            <p id="height-price"></p>
            <p id="sides"></p>
            <p id="total"></p>
            <button class="btn btn-primary" hidden="" id="btn-quote">Enviar Cotización</button>
        </div>
    </div>
</center>